# Python
__pycache__/
*.py[cod]
*.class
venv/
.env
*.so
.Python
# Data files
data/raw/*.jpg
data/raw/*.jpeg
data/raw/*.tiff
data/raw/*.png
# Except
ui_components/segment-anything-ui/sam_vit_h_4b8939.pth
ui_components/segment-anything-ui/thermal_ui_env/
